<h1 class="text-success text-center"><%= @artist.name %></h1>
<% if(@artist.image != nil)%>
  <img src="assets/<%=@artist.image %>" alt="Band Picture" height="80" width="80">
<%end%>
<h4 class="text-center">Genre:<%= @artist.genre.name %></h4>
<h4 class="text-center">Rating:<%= @artist.popularity %></h4>
<h4>Top 5 Songs</h4>
<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
<tbody>
  <% @songs_top_5.each do |song|%>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.rating%></td>
  </tr>
  <% end %>
</tbody>
</table>
<h4>Albums</h4>
<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  <% @albums.each do |album|%>
  <tr>
    <td><%= album.name %></td>
    <td><%= link_to 'Show', album_path(album) %></td>
</tr>
  <% end %>
</tbody>
</table>
<p>href:
  <% if(@artist.href == nil)%>
  N/A
  <%else %>
  <%=@artist.href%>
  <%end%>
</p>
