<h1 class="text-success text-center"><%= @artist.name %></h1>
<% if(@artist.image != nil)%>
  <img src="assets/<%=@artist.image %>" alt="Band Picture" height="80" width="80">
<%end%>
<h4 class="text-center">Genre:<%= @artist.genre.name %></h4>
<h4 class="text-center">Rating:<%= @artist.popularity %></h4>
<h4>Top 5 Songs</h4>
<ul class="list-group">
  <% @songs_top_5.each do |song|%>
    <li class="list-group-item list-group-item-success">
      <%= song.name %> Rating: <%= song.rating%>
    </li>
  <% end %>
</ul>
<h4>Albums</h4>
<ul class="list-group">
  <% @albums.each do |album|%>
    <li class="list-group-item list-group-item-success"><%= album.name %> <%= link_to 'Show', album_path(album) %></li>
  <% end %>
</ul>
<p>href:
  <% if(@artist.href == nil)%>
  N/A
  <%else %>
  <%=@artist.href%>
  <%end%>
</p>
