<header>
  <div class="topnav">
    <a class="active" href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/search">Search</a>
    <a href="#">Collection</a>
  </div>

  <form action="/result" method="get">
    <label>Search:</label>
    <input type="text" id="keyword" name="keyword" />
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Genre <input type="checkbox" id="genre" name="genre"></li>
        <li>Artist <input type="checkbox" id="artist" name="artist"></li>
        <li>Album <input type="checkbox" id="album" name="album"></li>
        <li>Song <input type="checkbox" id="song" name="song"></li>
      </ul>
    </div>
    <input name="commit" type="submit" value="Search" />
  </form>
</header>
<h1>Collection</h1>
<ul>
  <% @genres.each do |genre|%>
    <li><%=genre.name%> <%= link_to 'Show', genre_path(genre) %></li>
    <ul>
    <% @artists.where(:genre => genre).each do |artist|%>
      <li><%=artist.name%> <%= link_to 'Show', artist_path(artist) %></li>
      <ul>
        <% @albums.where(:artist => artist).each do |album|%>
        <li><%=album.name%> <%= link_to 'Show', album_path(album) %></li>
        <% end %>
      </ul>
    <% end %>
    </ul>
  <% end %>
</ul>
