<h1>Collection</h1>
  <% @genres.each do |genre|%>
    <h2 ><%=genre.name%> <%= link_to 'Show', genre_path(genre) %></h2>
    <% @artists.where(:genre => genre).each do |artist|%>
      <h4 class="blockquote text-center text-success"><%=artist.name%> <%= link_to 'Show', artist_path(artist) %></h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Album</th>
            <th scope="col">Rating</th>
            <th scope="col">Link</th>
          </tr>
          </thead>
          <tbody>
            <% @albums.where(:artist => artist).each do |album|%>
            <tr>
              <td><%=album.name%></td>
              <td><%=album.popularity%>
              <td> <%= link_to 'Show', album_path(album) %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br />
    <% end %>
  <% end %>
