<h1>Collection</h1>
  <% @genres.each do |genre|%>
    <h3><%=genre.name%> <%= link_to 'Show', genre_path(genre) %></h3>
    <% @artists.where(:genre => genre).each do |artist|%>
      <h5><%=artist.name%> <%= link_to 'Show', artist_path(artist) %></h5>
      <ul>
        <% @albums.where(:artist => artist).each do |album|%>
        <li><%=album.name%> <%= link_to 'Show', album_path(album) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
