<header>
<div class="topnav">
  <a class="active" href="/welcome">Home</a>
  <a href="/search">Search</a>
  <a href="/about">About</a>
</div>
</header>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if @genres.count != 0%>
<h2>Genres</h2>
<ul>
  <% @genres.each do |genre|%>
    <li><%=genre.name%> <%= link_to 'Show', genre_path(genre) %></li>
    <%end%>
</ul>
<%end%>

<% if @artists.count != 0%>
<h2>Artist</h2>
<ul>
  <% @artists.each do |artist|%>
    <li><%=artist.name%> <%= link_to 'Show', artist_path(artist) %></li>
    <%end%>
</ul>
<%end%>

<% if @albums.count != 0%>
<h2>Albums</h2>
<ul>
  <% @albums.each do |album|%>
    <li><%=album.name%> <%= link_to 'Show', albums_path(album) %></li>
    <%end%>
</ul>
<%end%>

<% if @songs.count != 0%>
<h2>Songs</h2>
<ul>
  <% @songs.each do |song|%>
    <li><%=song.name%> <%= link_to 'Show', genre_path(song) %></li>
    <%end%>
</ul>
<%end%>
