<header>
  <div class="topnav">
    <a class="active" href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/search">Search</a>
    <a href="/collection">Collection</a>
  </div>

  <form action="/result" method="get">
    <label>Search:</label>
    <input type="text" id="keyword" name="keyword" />
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Genre <input type="checkbox" id="genre" name="genre"></li>
        <li>Artist <input type="checkbox" id="artist" name="artist"></li>
        <li>Album <input type="checkbox" id="album" name="album"></li>
        <li>Song <input type="checkbox" id="song" name="song"></li>
      </ul>
    </div>
    <input name="commit" type="submit" value="Search" />
  </form>
</header>
<h1>Results</h1>

<% if @genres.count != 0%>
<h2>Genres</h2>
<ul>
  <% @genres.each do |genre|%>
    <li><%=genre.name%> <%= link_to 'Show', genre_path(genre) %></li>
    <%end%>
</ul>
<%end%>

<% if @artists.count != 0%>
<h2>Artist</h2>
<ul>
  <% @artists.each do |artist|%>
    <li><%=artist.name%> <%= link_to 'Show', artist_path(artist) %></li>
    <%end%>
</ul>
<%end%>

<% if @albums.count != 0%>
<h2>Albums</h2>
<ul>
  <% @albums.each do |album|%>
    <li><%=album.name%> <%= link_to 'Show', albums_path(album) %></li>
    <%end%>
</ul>
<%end%>

<% if @songs.count != 0%>
<h2>Songs</h2>
<ul>
  <% @songs.each do |song|%>
    <li><%=song.name%> <%= link_to 'Show', genre_path(song) %></li>
    <%end%>
</ul>
<%end%>
