<h1 class="text-success text-center"><%= @album.name%></h1>
<h4 class="text-center"><%= @album.artist.name%></h4>
<% if(@album.image != nil)%>
  <img src="assets/<%=@album.image %>" alt="Album Picture" height="80" width="80" >
<%end%>
<h5 class="text-center">Release Date: <%= @album.releasedate%></h5>
<h5 class="text-center">Popularity: <%= @album.popularity%></h5>
<h5 class="text-center"><%= @album.genre.name%></h5>
<h5 class="text-center">Album Type: <% if(@album.album_type == nil)%>
  N/A
  <%else %>
  <%=@album.album_type%>
  <%end%>
</h5>
<ul class="list-group">
  <% @songs.each do |song|%>
    <li class="list-group-item list-group-item-success"><%=song.track_number%> <%= song.name %>
    <%= link_to 'Show', song_path(song) %></li>
  <% end %>
</ul>
<p>href:
  <% if(@album.href == nil)%>
  N/A
  <%else %>
  <%=@album.href%>
  <%end%>
</p>


