<!DOCTYPE html>
<html>
  <head>
    <title>DylanVailasIntroProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <header>
  <nav class="navbar navbar-light bg-light" id="mainnav">
    <a class="navbar-brand" href="/welcome">Home</a>
    <a class="navbar-brand" href="/about">About</a>
    <a class="navbar-brand" href="/search">Search</a>
    <a class="navbar-brand" href="/collection">Collection</a>

  <form class="form-inline" action="/result" method="get">
    <input class="form-control mr-sm-2" type="text" id="keyword" name="keyword" />
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Genre <input type="checkbox" id="genre" name="genre"></li>
        <li>Artist <input type="checkbox" id="artist" name="artist"></li>
        <li>Album <input type="checkbox" id="album" name="album"></li>
        <li>Song <input type="checkbox" id="song" name="song"></li>
      </ul>
    <input class="btn btn-outline-success my-2 my-sm-0"  name="commit" type="submit" value="Search" />
  </form>
  </nav>
</header>
<div id="content">
    <%= yield %>
</div>
  </body>
</html>
